<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

		    <!-- let data expire after a week? -->
		        <meta http-equiv="Expires" content="7">

			    <!-- unfurling -->    <!-- facebook open graph tags -->
			        <meta property="og:type" content="website" />
				    <meta property="og:url" content="{{page.url | replace: 'index.html', '' | prepend: site.url}}" />    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
				        <meta property="og:description" content="{{site.description}}" />
					    {% if page.preview || site.preview %} <meta property="og:image" content="{% if page.preview %}{{ page.preview }}{% else %}{{ site.preview }}{% endif %}" /> {% endif %}

					    </head>
